.sort-bar {
  text-align: left;
  padding-left: 20px;
}

.sort-bar p {
  display: inline-block;
  padding: 3px;
  padding-left: 10px;
  cursor: pointer;
  font-size: 23px;
}

.sort-bar__menu--hidden {
  display: none;
}

.sort-bar__menu--visible {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 175px;
  position: absolute;
  background: #fff;
  border-radius: 5px;
}

.sort-bar--selected {
  font-size: 18px;
  text-decoration: underline;
  font-weight: 700;
}